body {
	background: $colour--bg;
	color: $colour--text;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

* {
	outline: none;
}
